.dark-theme {
    --amiga-bg:          #112233;
    --amiga-window-bg:   #334455;
    --amiga-title-active:#223366;
    --amiga-title-text:  #bbddff;
    --amiga-text:        #ddeeff;        /* Much lighter text */
    --amiga-border-light:#778899;
    --amiga-border-dark: #223344;
    --amiga-button:      #445566;
}

.dark-theme textarea,
.dark-theme .amiga-tab,
.dark-theme .amiga-status-bar {
    color: var(--amiga-text);
    background: var(--amiga-window-bg);
}
