body {
    background-color: #111;
    color: #4a90e2; /* MAIN TEXT COLOR */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    width: 90%;
    max-width: 800px;
    border: 2px solid #4a90e2; /*  border color */
    padding: 20px;
}

#game-text {
    white-space: pre-wrap;
    margin-bottom: 20px;
}

#command-form {
    display: flex;
}

#command-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #4a90e2; /* INPUT FIELD'S TEXT */
    font-family: inherit;
    font-size: inherit;
}

#command-input:focus {
    outline: none;
}

label {
    margin-right: 10px;
}
